<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <section th:each="detail : ${details}">
                    <div th:block th:if="${detail.vaccinated==true}">
                        <h2 th:text="${detail.country.getCountryName()}"></h2>
                        <h2 th:text="${detail.visa}"></h2>
                    </div>
<!--                </div>-->
                    <p>Modal body text goes here.</p>
                </section>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>